In [2]:
import boto3
from io import BytesIO
import pandas as pd
# you need to change the credentials for yourself
# Note that aws_access_key_id changes from time to time

# s3 = boto3.client('s3',
#                   aws_access_key_id='ASIAYAAO5HRMDQXU3LUZ',
#                   aws_secret_access_key='f+zlEnTjujMXajajqN7eKW735+0pPio0hBW7kESO',
#                   aws_session_token='IQoJb3JpZ2luX2VjEM7//////////wEaCXVzLWVhc3QtMiJGMEQCIEJgPJY6kW/7oJD89+FLPjLVAigREv9jifgm92FF+b4kAiBQSuqeo3QVoXXvl+F4seFPw/3cbhnQ1Op7TUDcuozWgyrrAghnEAAaDDU0OTc4NzA5MDAwOCIMc+Zgrm+27AN4uaUrKsgCxjprqBsUazgH6Cg0XD2cS/aK2iIre1p7L5Kclzvfqt4Nsa9iqUW5LyxJb3DCdwjgoUcX5qjSxRJzqo5rdigqwfl+AyLley9Bsr8nv3culh+w4vMudWi1BIVv/nS+bOUDCZa8FvJ85gDdgIkzueRYXZV8VmR2fAaoLnnvnEcn7iLpANXlsFGD6FNMdmLPlZUzQlQIfEBF3pn/nc0hgh2BWdkbcVyY2OtwY0URbH7DSIwcr6OFwBvMnE416CAlK3r4iTswB0ueWIXXKkPN+2L3peSgsJru7DLOq07mUj846dJna8touXpkNDM1q6E2gXz+GGehy/i/wQx1zwwV/+KAFvdv1hTf2GNp4wN2Si3C1OjMyBUseGnQU0XENAZTKI0u3cVqnoQbysWu8koBwIlkX1IsmA+ZC93W/qJVLkwDUVm2lI4fpPApfzC6ybrABjqoAYJovuIRUTcXl5JLB9Q3pJK2z8nAqTgt0G7Y3uKIIEjZJnUPxX2tij/Ec2INfrOvJCqc9YyUhOgOLoJAyMZ8Uvd7fpHxOOEmC7tpl0LycIF84FD3bhsmuiRTu8VgFwMQ3DMUW8ejyeKgCDcdPUHhJk+N7fkhcK9pUb9ebwnpO6n4I7rDm8M6h8h5b4UtgJtMtaQXARxNIMH0mqjjaGJkeUXih+T7yrhiqQ==')


bucket_name = 'de300spring2025'
object_key = 'mo_babgi/sample_dataset.csv'

csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

  first_name last_name  age  gender      occupation           city state
0       John       Doe   30    Male        Engineer       New York    NY
1       Jane       Doe   28  Female        Engineer    Los Angeles    CA
2        Bob     Smith   45    Male         Analyst        Chicago    IL
3      Alice   Johnson   35  Female  Data Scientist  San Francisco    CA
4        Tom     Brown   50    Male          Lawyer          Miami    FL